.card_container {
    width: 180px;
    min-height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #46535e;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 20px;
}

.card_container:hover {
    cursor: pointer;
}

.avatar {
    margin-top: 10px;
    width: 140;
    height: 140px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid white;
}

.username {
    background-color: rgb(32, 35, 48);
    color: white;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding: 5px 0
}

.userCheck {
    position: absolute;
    top: 0;
    right: 0;
    zoom: 1.5;
}